target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.flattened-pom.xml
*.cache
*.diff
*.patch
*.tmp

# Log
logs/
*.log
*.log.gz
*.logs

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Vibe Coding
.workbuddy/*
!.workbuddy/skills/
!.workbuddy/skills/**
!.workbuddy/.mcp.json
.codebuddy/*
!.codebuddy/skills/
!.codebuddy/skills/**
!.codebuddy/.mcp.json
